In [4]:
%load_ext sql
%sql sqlite:///AuctionBase.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql    SELECT sql FROM sqlite_master;

   sqlite:///:AuctionBase.db
 * sqlite:///AuctionBase.db
Done.

[('CREATE TABLE User (\n  UserId TEXT,\n  rating INTEGER,\n  Location TEXT,\n  Country TEXT,\n  PRIMARY KEY (UserId)\n)',),
 (None,),
 ('CREATE TABLE Item (\n  ItemId INTEGER,\n  name TEXT,\n  UserId TEXT,\n  Currently REAL,\n  First_Bid REAL,\n  Number_of_Bids INTEGER,\n  Started DATETIME,\n  End DATETIME,\n  Description TEXT,\n  PRIMARY KEY (ItemId),\n  FOREIGN KEY (UserId) REFERENCES User (UserId)\n)',),
 ('CREATE TABLE Bid (\n  ItemId INTEGER,\n  UserId TEXT,\n  BidTime DATETIME,\n  Amount REAL,\n  PRIMARY KEY (ItemId, UserId, BidTime),\n  FOREIGN KEY (ItemId) REFERENCES Item (ItemId) FOREIGN KEY (UserId) REFERENCES User (UserId)\n)',),
 (None,),
 ('CREATE TABLE Category(\n  ItemId INTEGER,\n  Category_Name TEXT,\n  PRIMARY KEY (ItemId, Category_Name),\n  FOREIGN KEY (ItemId) REFERENCES Item (ItemId)\n)',),
 (None,)]

In [6]:
%%sql
    SELECT COUNT(*)
    FROM User;

   sqlite:///:AuctionBase.db
 * sqlite:///AuctionBase.db
Done.

[(13422,)]

In [7]:
%%sql
    SELECT COUNT(*)
    FROM User
    WHERE Location = 'New York';

   sqlite:///:AuctionBase.db
 * sqlite:///AuctionBase.db
Done.

[(80,)]

In [8]:
%%sql
    SELECT COUNT(*)
    FROM (
    SELECT COUNT(*) as Total
    FROM Category
    GROUP BY ItemId
    ) as Cat
    WHERE Cat.Total = 4;

   sqlite:///:AuctionBase.db
 * sqlite:///AuctionBase.db
Done.

[(8365,)]

In [11]:
%%sql
    SELECT ItemId
    FROM Item
    ORDER BY Currently DESC
    LIMIT 1;

   sqlite:///:AuctionBase.db
 * sqlite:///AuctionBase.db
Done.

[(1046709352,)]

In [15]:
%%sql
    SELECT COUNT(*)
    FROM User
    WHERE rating > 1000;

   sqlite:///:AuctionBase.db
 * sqlite:///AuctionBase.db
Done.

[(3155,)]

In [16]:
%%sql
    SELECT COUNT(DISTINCT(User.UserId))
    FROM User, Item, Bid
    WHERE User.UserId = Item.UserId
    AND User.UserId = Bid.UserId;

   sqlite:///:AuctionBase.db
 * sqlite:///AuctionBase.db
Done.

[(3606,)]

In [17]:
%%sql
    SELECT COUNT(DISTINCT(Category_Name))
    FROM Category,Bid
    WHERE Category.ItemId = Bid.ItemId
    AND Bid.Amount != "NULL"
    AND Bid.Amount > 100;

   sqlite:///:AuctionBase.db
 * sqlite:///AuctionBase.db
Done.

[(150,)]